.forecast {
  font-family: sans-serif;
}

.header {
  padding: 0 13px;
}

.forecast li {
  border-bottom: 1px solid #eee;
  line-height: 1;
  padding: 1em 0 2em;
}

.forecast h2 {
  font-size: 1em;
}

.weather {
  color: #aaa;
  text-align: center;
}

.temperature {
  color: #aaa;
  text-align: center;
}

.wind {
  color: #aaa;
  text-align: right;
}
